ETCD_NAME={{ETCD_NAME}}_{{k_count}}
ETCD_DATA_DIR="/var/lib/etcd/{{ETCD_NAME}}_{{k_count}}.etcd"
ETCD_LISTEN_CLIENT_URLS="https://{{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}:2379,https://127.0.0.1:2379"
ETCD_ADVERTISE_CLIENT_URLS="https://{{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}:2379"
ETCD_INITIAL_CLUSTER_STATE="{{ETCD_INITIAL_CLUSTER_STATE}}"
ETCD_INITIAL_CLUSTER_TOKEN="{{ETCD_INITIAL_CLUSTER_TOKEN}}"
ETCD_LISTEN_PEER_URLS="https://{{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}:2380"
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}:2380"
ETCD_INITIAL_CLUSTER="{{ETCD_INITIAL_CLUSTER}}"
ETCD_TRUSTED_CA_FILE="/etc/kubernetes/tls/ca.pem"
ETCD_CERT_FILE="/etc/kubernetes/tls/etcd.pem"
ETCD_KEY_FILE="/etc/kubernetes/tls/etcd-key.pem"
ETCD_PEER_TRUSTED_CA_FILE="/etc/kubernetes/tls/ca.pem"
ETCD_PEER_CERT_FILE="/etc/kubernetes/tls/etcd-peer.pem"
ETCD_PEER_KEY_FILE="/etc/kubernetes/tls/etcd-peer-key.pem"
#ETCD_CLIENT_CERT_AUTH="true"
ETCD_PEER_CLIENT_CERT_AUTH="true"
