# pod infrastructure container
KUBELET_POD_INFRA_CONTAINER="--pod-infra-container-image=registry.access.redhat.com/rhel7/pod-infrastructure:latest"

KUBELET_HOSTNAME=""
KUBELET_ADDRESS="--address=0.0.0.0"
KUBELET_ARGS='{{KUBELET_ARGS}}'
