apiVersion: v1
clusters:
{% for e in KUBE_MASTER %}
- cluster:
{{'    '}}certificate-authority: /etc/kubernetes/tls/ca.pem
{{'    '}}server: {{e}}
{{'  '}}name: {{cluster_name}}
{% endfor %}
contexts:
- context:
    cluster: {{cluster_name}}
    {%- if k8s_namespace is defined %}{{'\n'}}{{'    '}}namespace: {{k8s_namespace}}{% endif -%}{{''}}
    user: {{context_user}}
  name: {{context_name}}
current-context: {{context_name}}
kind: Config
preferences: {}
users:
- name: {{context_user}}
  user:
    client-certificate: /etc/kubernetes/tls/kubernetes-admin-user.pem
    client-key: /etc/kubernetes/tls/kubernetes-admin-user-key.pem
